* {
  box-sizing: border-box;
}

body {
  font-family: 'helvetica';
  font-size: 20px;
  color: #696969;
  text-align: center;
  line-height: 1.5;
}

nav, footer {
  padding: 1% 0;
  background-color: #A9A9A9;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 45px 15px;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 20px;
}

.calendar {
  display: block-inline;
  width: 900px;
  border: 2px #A9A9A9 solid;
  margin: 0 auto;
}
